<launch>

    <param name="x_initial_pose" value="0.0"/>
    <param name="y_initial_pose" value="0.0"/>
    <param name="theta_initial_pose" value="0.0"/>

    <node pkg="homework1" type="robotVelocity" name="robotVelocity"/>
    <node pkg="homework1" type="robotOdometry" name="robotOdometry" output="screen"/>

</launch>